@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&display=swap");

#root {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
  background-color: black;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
  
.container {
  width: 1920px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

::selection {
  background: #2ECC40; 
  color: #000; 
}

.sticky__header {
  max-width: 100%;
  height: 80px;
  line-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #000;
  box-shadow: 5px 5px 15px -5px #00000084;
  z-index: 99;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Hide the default radio button */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #999;
  outline: none;
}

/* Style the radio button when selected */
input[type="radio"]:checked::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  margin: 3px;
  background-color: #333;
  border-radius: 50%;
}